* text=auto

*.css text eol=lf
*.csv text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.py text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.txt text eol=lf

*.docx binary
*.pdf binary
*.png binary
*.webm binary
*.zip binary
